* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff2ac;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #222;
}

.nav__branding h2 {
  margin-left: 45px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  color: #000000;
}
ul {
  display: flex;
  list-style: none;
  gap: 70px;
  font-weight: 400;
  align-items: center;
  text-transform: capitalize;
}
li a {
  text-decoration: none;
  color: #000;
}

.nav__store {
  padding: 36px;
  background-color: #ff6161;
  font-weight: 600;
}

.nav__store a {
  border: 2px solid #000;
  padding: 6px 10px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff2ac;
  background-size: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f0e191' fill-opacity='0.8'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hero__left {
  max-width: 500px;
  padding: 20px;
}
.hero__heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 46px;
  color: #ff6161;
}

.hero__para {
  margin-top: 25px;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  max-width: 450px;
}

.hero__btn {
  margin-top: 25px;
  display: inline-block;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  background-color: #ff6161;
  padding: 15px 40px;
  border: 3px dashed #000;
}

.hero__right {
  padding: 20px;
}
.hero__right img {
  max-width: 450px;
  display: block;
}

@media only screen and (min-device-width: 450px) and (max-device-width: 800px) {
  .hamburger-icon {
    order: 1;
    z-index: 20;
    cursor: pointer;
  }
  .hamburger-icon .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
  }
  .nav__branding {
    order: 0;
  }
  .nav__branding h2 {
    margin-left: 0px;
  }
  nav ul {
    transform: "translate(100%)";
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: 0;
    flex-direction: column;
    list-style: none;
    gap: 70px;
    font-weight: 400;
    align-items: center;
    text-transform: capitalize;
    padding-top: 20vh;
    z-index: 10;
  }
  nav {
    padding: 20px 40px;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 450px) {
  .hamburger-icon {
    order: 1;
    z-index: 20;
    cursor: pointer;
  }
  .hamburger-icon .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
  }
  .nav__branding {
    order: 0;
  }
  .nav__branding h2 {
    margin-left: 0px;
    font-size: 28px;
  }
  nav ul {
    transform: "translate(100%)";
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    flex-direction: column;
    list-style: none;
    gap: 70px;
    font-weight: 400;
    align-items: center;
    text-transform: capitalize;
    padding-top: 20vh;
    z-index: 10;
  }
  nav li a {
    margin-top: 10vh;
    font-size: 20px;
  }
  nav {
    padding: 20px 40px;
  }
  .hero {
    padding: 10px;
    text-align: center;
  }
  .hero__heading {
    font-size: 30px;
    margin-top: 40px;
  }
  .hero__para {
    font-size: 18px;
  }
  .hero__right img {
    width: 90vw;
  }
}
